<p><strong>Movies in the <%= @list.name %> list </strong></p>
<%= link_to "Add a movie to this list?", new_list_bookmark_path(@list), class: "btn btn-primary" %>
<br>
<br>

<%= link_to "Home", root_path(), class: "btn btn-primary" %>
<br>
<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item"> <%= bookmark.movie.title %>
    <br>
    <p>Overview:
    <%= bookmark.movie.overview %></p>
    <p>Rating:
    <%= bookmark.movie.rating %></p></li>
    <%= cl_image_tag @list.photo.key, height: 150, width: 200, crop: :fill %>
    <br>
      <%= link_to "Delete",
    bookmark_path(bookmark) ,
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
  <% end %>
</ul>

<div class="row">
    <div class="col-12 col-sm-6">
      <h3>Reviews</h3>
      <% if @list.reviews.empty? %>
        <small><em class="text-muted">Be the first one to review this list</em></small>
      <% end %>
      <% @list.reviews.each do |review| %>
        <div>
          <% review.rating.to_i.times do %>
            <i class="fas fa-star star-yellow"></i>
          <% end %>
          <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
          <p class="mb-0"><%= review.content %></p>
        </div>
        <hr>
      <% end %>
    </div>
    <div class="col-12 col-sm-6">
      <div class="bg-white rounded p-3">
        <h5>Add your review</h5>
        <%= simple_form_for [@list, @review] do |f| %>
          <%= f.input :content, placeholder: "Add your review here..." %>
          <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating", input_html: { data: { controller: "jquery-bar-rating" } } %>
          <%= f.submit class:"btn btn-flat" %>
        <% end %>
      </div>
    </div>
  </div>
